<br />
<div class=" text-center booyah-box col-10 offset-1">
    <h1>ADMIN Orders</h1>
    <%= simple_form_for @order, url: admin_orders_path do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :item, :collection => ["jacket $30", "shirt $20", "pullover $50"]%>
    <%= f.input :quantity %>
    <%= f.input :size, :collection =>%w[XS S M L XL XXL] %>
    <%= f.input :color, :collection => %w[red yellow blue grey] %>
    <%= f.input :cost, :as => :hidden, :value_method => :id, input_html: {id: "order_cost"} %>
    <p id="test">
    </p>
    <br />
    <%= form_tag orders_path(@order) do %>
    </article>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="Cost of Methodist Olive Branch apparel" data-amount="" data-locale="auto">
    console.log(#price)
    </script>
    <% end %>
    <% end %>
    <br />
</div>