<br />
<br />
<br />
<div class=" text-center booyah-box col-10 offset-1">
    <h1 class="orders"> Orders</h1>
    <%= simple_form_for @order, url: order_path do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :item, :collection => ["jacket $30", "shirt $20", "pullover $50"]%>
    <%= f.input :quantity %>
    <%= f.input :size, :collection =>%w[XS S M L XL XXL] %>
    <%= f.input :color, :collection => %w[red yellow blue grey] %>
    <%= f.input :cost, :as => :hidden, input_html: {id: "order_cost"} %>
    <%= f.submit "Update", class: 'btn btn-primary btn-large' %>
    <p id="test">
    </p>
    <% end %>
    <br />