<br />
<br />
<br />
<div class=" text-center booyah-box col-10 offset-1">
    <h1 class="orders"> Orders</h1>
    <%= simple_form_for @order, url: order_path do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :item, :collection => ["jacket $35", "vest $35"]%>
    <%= f.input :quantity %>
    <%= f.input :size, :collection =>%w[S M L XL XXL 3XL 4XL 5XL 6XL] %>
    <%= f.input :color, :collection => ["black", "navy* (Must be RN or MD to order navy)"] %>
    <%= f.input :cost, :as => :hidden, input_html: {id: "order_cost"} %>
    <%= f.submit "Update", class: 'btn btn-primary btn-large' %>
    <p id="test">
    </p>
    <% end %>
    <br />