<br />
<br />
<br />
<div class=" text-center booyah-box col-10 offset-1">
    <h1 class="orders"> Orders</h1>
    <%= simple_form_for @order, url: orders_path do |f| %>
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :department, :collection =>[
"OTHER (Contact Amanda Horrell)",
"MOB LOGO ONLY (No Department)",
"PATIENT ACCESS SERVICES",
"CASE MANAGEMENT",
"ECHOCARDIOGRAPHER",
"CARDIAC CATH LAB",
"RADIOLOGY DEPARTMENT",
"OPERATING ROOM",
"HOSPITALIST, N.P.",
"HOSPITALIST",
"ADMINISTRATION",
"LOGISTICS SPECIALIST",
"REHABILITATION SERVICES",
"PHARMACY DEPARTMENT",
"SPECIAL CARE NURSERY",
"MED-SURG UNIT",
"EMERGENCY DEPARTMENT",
"LABORATORY DEPARTMENT",
"RESPIRATORY DEPARTMENT",
"INTENSIVE CARE UNIT",
"SDS/PACU",
"SAME DAY SURGERY",
"PACU",
"LABOR AND DELIVERY DEPARMENT",
"PBX",
"CLINICAL NUTRITION",
"WOUND CARE",
"SOCIAL WORK",
"SECURITY DEPARTMENT",
"HUMAN RESOURCES",
"SPIRITUAL CARE",
"INTERNAL MEDICINE",
"SURGICAL SERVICES",
"CLINICAL INFORMATICS",
"INFORMATION TECHNOLOGY",
"SOUTHAVEN DIAGNOSTIC CENTER",
"UNIT SECRETARY",
"MATERIALS SERVICES"
], required: true %>
    <%= f.input :item, required: true, :collection => ["jacket $35"]%>
    <%= f.input :description, required: true, :collection => ["Men's", "Women's"] %>
    <%= f.input :quantity, required: true %>
    <div id="mens_sizes" style="display: none">
        <%= f.input :size, disabled: true, input_html: {id: :mens}, :collection =>%w[S M L XL 2XL 3XL 4XL 5XL 6XL ] %>
    </div>
    <div id="womens_sizes" style="display: none">
        <%= f.input :size, disabled: true, input_html: {id: :womens},:collection =>%w[XS S M L XL 2XL 3XL 4XL  ] %>
    </div>
    <%= f.input :color, required: true, :collection => ["black", "navy* (Must be RN or MD to order navy)"] %>
    <%= f.input :cost, :as => :hidden, input_html: {id: "order_cost"} %>
    <p id="test">
    </p>
    <br />
    <% if current_user && !current_user.admin? %>
    <%= form_tag orders_path(@order) do %>
    <% if flash[:error].present? %>
    <div id="error_explanation">
        <p>
            <%= flash[:error] %>
        </p>
    </div>
    <% end %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="Cost of Methodist Olive Branch apparel" data-email="<%= current_user.email %>" data-amount="" data-locale="auto">
    </script>
    <% end %>
    <br />
    <% elsif current_user && current_user.admin? %>
    <%= f.submit "Admin Accepting Cash", class: 'cash btn btn-primary btn-large' %>
    <% end %>
    <% end %>
    <br />
</div>