<br />
<div class="booyah-box  show-box col-10 offset-1">
    <h1 class="text-center thanks">Thank You for Your Order! </h1>
    <div class="col-10 offset-1">
        <h2> Name:
            <%= @order.first_name %>
            <%= @order.last_name %>
        </h2>
    </div>
    <div class="col-10 offset-1">
        <h2> Item:
            <%= @order.item %>
        </h2>
    </div>
    <div class="col-10 offset-1">
        <h2> Quantity:
            <%= @order.quantity %>
        </h2>
    </div>
    <div class="col-10 offset-1">
        <h2> Size:
            <%= @order.size %>
        </h2>
    </div>
    <div class="col-10 offset-1">
        <h2> Color:
            <%= @order.color %>
        </h2>
    </div>
    <div class="col-10 offset-1">
        <h2> Cost:
            <span class="badge badge-default">
                <%= number_to_currency @order.cost %>
            </span>
        </h2>
    </div>
    <br />
    <div class="col-12 text-center">
        <%= link_to 'Homepage', root_path, class: 'btn btn-primary btn-large' %>
    </div>
    <br />
</div>