<br />
<div class="booyah-box col-10 offset-1">
    <h1 class="text-center">Admin order show </h1>
    <div class="col-10 offset-1">
        <%= @order.first_name %>
        <%= @order.last_name %>
    </div>
    <div class="col-10 offset-1">
        <%= @order.item %>
    </div>
    <div class="col-10 offset-1">
        <%= @order.size %>
    </div>
    <div class="col-10 offset-1">
        <%= @order.quantity %>
    </div>
    <div class="col-10 offset-1">
        <%= @order.color %>
    </div>
    <div class="col-10 offset-1">
        <span class="badge badge-default">
            <%= number_to_currency @order.cost %>
        </span>
    </div><br />
    <div class="booyah-box col-10 offset-1">
        <h1 class="text-center"> Order show page</h1>
        <%= @order.first_name %>
        <%= @order.last_name %>