<% flash.each do |type, msg| %>
<div class=" text-center alert alert-info">
    <%= msg %>
</div>
<% end %>
<div class="booyah-box col-10 offset-1 home-box">
    <h1 class="text-center">MOB Vest & Jacket Orders Homepage </h1>
    <div class="col-10 offset-1">
        <div class="text-center">
            <% if current_user && current_user.admin? %>
            <%= link_to "Order index page", orders_path, class: 'btn btn-primary btn-large' %>
            <br />
            <br />
            <%= link_to "All Purchases", purchase_path, class: 'btn btn-primary btn-large' %>
            <% end %>
            <br />
            <br />
            <%= link_to 'Order Form', new_order_path, class: 'btn btn-primary btn-large' %>
        </div>
        <br />
        <br />
    </div>
</div>
<div class="text-center">
    <h1><strong>**Please Read**</strong></h1>
    <h2>Orders Due By Noon on Oct. 19th</h2>
    <h4>Jackets will have the Methodist Olive Branch Logo embroidered on them with your department underneath the Logo. If you choose not to have your department listed under the logo, please select <strong>MOB Logo Only (No department)</strong> upon ordering.</h4>
    <p><strong>All associates must order black unless you are a nurse or provider. Navy is option for nursing or providers, ONLY.</strong></p>
    <p>***Ladies, I highly recommend sizing <strong>UP</strong> a size if you choose the ladies jacket. The jacket is more fitted and tighter around the waist area.</p>
    <p>You can contact me (Amanda Horrell) via cell/text at (901) 651-0281 or ext 59546(pharmacy) with any questions.</p>
    <%= image_tag "ICU_Jacket.jpg", class: "img-responsive" %>
</div>