<br />
<div class="booyah-box col-10 offset-1 ">
    <h1 class="text-center">Order Quantities</h1>
    <hr />
    <div id="show-when-small">
        <h3 class="text-center"> Your screen is too small.<br />
            Flip to landscape mode to view orders.</h3>
    </div>
    <div id="hide-when-small">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                        Item
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Color
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        S
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        M
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        L
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        2XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        3XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        4XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        5XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        6XL
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                        MEN'S Vests
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Black
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.smallBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.mediumBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.largeBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.xlBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.twoXLBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.threeXLBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fourXLBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fiveXLBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.sixXLBlackVest %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Navy
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.smallNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.medNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.largeNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.xlNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.twoXLNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.threeXLNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fourXLNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fiveXLNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.sixXLNavyVest %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                        MEN'S Jackets
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Black
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.smallBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.mediumBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.largeBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.xlBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.twoXLBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.threeXLBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fourXLBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fiveXLBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.sixXLBlackJacket %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Navy
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.smallNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.mediumNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.largeNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.xlNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.twoXLNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.threeXLNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fourXLNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fiveXLNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.sixXLNavyJacket %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                        Item
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Color
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        XS
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        S
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        M
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        L
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        2XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        3XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        4XL
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                        LADIES Vests
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Black
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxsmallBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiessmallBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesmediumBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladieslargeBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxlBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiestwoXLBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesthreeXLBlackVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesfourXLBlackVest %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Navy
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxsmallNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiessmallNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesmedNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladieslargeNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxlNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiestwoXLNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesthreeXLNavyVest %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesfourXLNavyVest %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                        LADIES Jackets
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Black
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxsmallBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiessmallBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesmediumBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladieslargeBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxlBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiestwoXLBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesthreeXLBlackJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesfourXLBlackJacket %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Navy
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxsmallNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiessmallNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesmediumNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladieslargeNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxlNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiestwoXLNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesthreeXLNavyJacket %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesfourXLNavyJacket %>
                    </h3>
                </div>
            </div>
            <br />
            <div class="col-12 text-center">
                <%= link_to 'Homepage', root_path, class: 'btn btn-primary btn-large' %>
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>