<br />
<div class="booyah-box col-10 offset-1 ">
    <h1 class="text-center">Order Quantities</h1>
    <hr />
    <div id="show-when-small">
        <h3 class="text-center"> Your screen is too small.<br />
            Flip to landscape mode to view orders.</h3>
    </div>
    <div id="hide-when-small">
        <div class="container-fluid">
            <% @departments.each do |department| %>
            <h1 class="text-center">
                <%= department %>
            </h1>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                        Item
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Color
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        S
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        M
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        L
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        2XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        3XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        4XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        5XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        6XL
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                        MEN'S Vests
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Black
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.smallBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.mediumBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.largeBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.xlBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.twoXLBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.threeXLBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fourXLBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fiveXLBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.sixXLBlackVest(department) %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Navy
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.smallNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.medNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.largeNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.xlNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.twoXLNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.threeXLNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fourXLNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fiveXLNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.sixXLNavyVest(department) %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                        MEN'S Jackets
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Black
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.smallBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.mediumBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.largeBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.xlBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.twoXLBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.threeXLBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fourXLBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fiveXLBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.sixXLBlackJacket(department) %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Navy
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.smallNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.mediumNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.largeNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.xlNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.twoXLNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.threeXLNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fourXLNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.fiveXLNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.sixXLNavyJacket(department) %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                        Item
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Color
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        XS
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        S
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        M
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        L
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        2XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        3XL
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        4XL
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                        LADIES Vests
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Black
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxsmallBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiessmallBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesmediumBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladieslargeBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxlBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiestwoXLBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesthreeXLBlackVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesfourXLBlackVest(department) %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Navy
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxsmallNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiessmallNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesmedNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladieslargeNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxlNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiestwoXLNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesthreeXLNavyVest(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesfourXLNavyVest(department) %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                        LADIES Jackets
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Black
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxsmallBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiessmallBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesmediumBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladieslargeBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxlBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiestwoXLBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesthreeXLBlackJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesfourXLBlackJacket(department) %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <br />
            <div class="row">
                <div class="col-1">
                    <h3 class="index-size">
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Navy
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxsmallNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiessmallNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesmediumNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladieslargeNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesxlNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiestwoXLNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesthreeXLNavyJacket(department) %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= Order.ladiesfourXLNavyJacket(department) %>
                    </h3>
                </div>
            </div>
            <br />
            <div class="col-12 text-center">
                <%= link_to 'Homepage', root_path, class: 'btn btn-primary btn-large' %>
            </div>
            <br />
            <br />
            <br />
            <br />
            <% end %>
        </div>
    </div>