<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoabOrders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/7e4250d31c.js"></script>
</head>

<body style="background-color:#00A9E0;">
    <font color="white">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a routerLink="/" class="navbar-brand" href="/">MOAB Jacket orders</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders/new">Place Order</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                    </li>
                    <% else %>
                    <li class="nav-item">
                        <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
                    </li>
                    <% end %>
                </ul>
        </nav>
        <% if notice.present? %>
        <p class="alert alert-info">
            <%= notice %>
        </p>
        <% end %>
        <% if alert.present? %>
        <p class="alert alert-danger">
            <%= alert %>
        </p>
        <% end %>
        </div>
        </nav>
        <%= yield %>
</body>

</html>